body {
    --main-color: rgb(14, 96, 192);
    --main-color-light: rgb(16, 115, 231);
}

.btn-up {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: transform 0.3s;
}

.btn-up:hover,
.btn-up:focus {
    transform: scale(1.05);
}

.nav-underline .nav-link.active {
    color: var(--bs-primary);
}

.text-main {
    font-weight: bold;
    color: var(--main-color);
}

.text-main-light {
    color: var(--main-color-light);
}

.link-main {
    color: var(--main-color);
    text-decoration: none;
}

.link-main:hover,
.link-main:focus {
    color: var(--main-color-light);
    text-decoration: underline;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.2s;
    cursor: default;
}

.logo:hover {
    color: var(--main-color-light);
}

.nav-link-action {
    transition: transform 0.1s;
}

.nav-link-action:hover,
.nav-link-action:focus {
    transform: scale(1.05);
    color: var(--bs-primary);
}

.btn-sign-up {
    font-size: 14px;
    font-weight: bold;
    padding: .8em 2em;
    border-radius: 1.9em;
}

.project-ref {
    text-decoration: none;
}

.project-ref:hover,
.project-ref:focus {
    text-decoration: underline;
}

.text-important {
    font-size: 14px;
    font-weight: bold;
}

.card {
    transition-duration: 0.3s;
}

.card-img-scale-wrp {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    overflow: hidden;
}

.card-img-top {
    transition: 0.4s;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.profile-list-item:nth-of-type(3) {
    margin-top: 50px;
}


@media (max-width: 1550px) {
    .btn-up {
        display: none !important;
    }
}