{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="py-4 px-2 mx-auto">
    <div class="text-center">
      <a class="fs-1 fw-semibold link-main" href="{{ object.url }}">
        <img width="288" height="288" class="img-fluid" src="{{ object.logo.url }}" alt="store-logo">
      </a>
      <h5 class="py-3">
        <a target="_blank" href="{{ object.url }}" class="fs-5 link-main">
          Click to go to the store's website...
        </a>
      </h5>
      <hr>
      <h2 class="text-main mb-4">Description</h2>
      <p class="fs-5">{{ object.description }}</p>
      <hr>
      <h2 class="text-main mb-4">Popular store products</h2>
      <div class="row text-start">
        {% for object in popular_products %}
          <div class="col-lg-4 col-md-6 mb-3">
            {% include 'products/inclusions/product_card.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        {% include 'interactions/inclusions/store_comment.html' %}
      </div>
    </div>
  </div>
{% endblock %}
