{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="pt-5">
    <div class="mx-auto rounded-4 py-4 px-3 col-8 shadow-lg">
      <div class="text-center my-2">
        <h1>Email verification</h1>
      </div>
      <hr>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning">
            <h3>{{ message }}</h3>
          </div>
        {% endfor %}
      {% else %}
        <div class="alert alert-primary">
          <h3>
            You're almost there! You will receive an email within a couple of minutes.
            Just click on the link in that email to complete your verification if you don't see it,
            you may need to check your spam folder.
          </h3>
        </div>
      {% endif %}
      <hr>
      <div class="text-center">
        <h3>
          Didn't receive an email ? Click
          <a class="link link-secondary text-decoration-none"
             href="{% url 'users:send-verification-email' user.email %}">here</a>
          to get a new one.
        </h3>
      </div>
    </div>
  </div>
{% endblock %}