{% load static %}
{% load humanize %}
{% load widget_tweaks %}


<div class="mb-3">
  <h3>{{ comments_count }} {% if comments_count == 1 %} Comment {% else %} Comments {% endif %}</h3>
</div>
<div class="d-flex mb-3">
  <img class="me-3 rounded-circle object-fit-cover"
       src="{% if request.user.is_authenticated %}
              {{ request.user.get_image_url }}
            {% else %}
              {% static 'images/default_user_image.png' %}
            {% endif %}"
       alt="author-image" width="40" height="40">
  <form id="add-comment-form" action="{% block action %} {% endblock %}" method="POST"
        class="w-100" {% block extra-data %} {% endblock %}>

    {% csrf_token %}

    {% if request.user.is_authenticated %}
      <div class="input-group mb-3">
        {{ form.text }}
        <button class="btn btn-outline-success" type="submit" id="comment-submit">Comment</button>
      </div>
    {% else %}
      <div class="input-group">
        {{ form.text|attr:'disabled' }}
        <button class="btn btn-outline-success" type="submit" id="comment-submit" disabled>Comment</button>
      </div>
      <p>
        <a href="{% url 'users:login' %}">Sign In</a> or
        <a href="{% url 'users:registration' %}">Sign Up</a> to leave comments.
      </p>
    {% endif %}
  </form>
</div>
<div id="comments-wrp" class="container">
  {% if comments %}
    {% for comment in comments %}
      <div class="d-flex align-items-start mb-4">
        <a href="{{ comment.author.get_absolute_url }}">
          <img class="me-3 rounded-circle object-fit-cover" src="{{ comment.author.get_image_url }}" alt="user-image"
               width="40" height="40">
        </a>
        <div>
          <a class="fs-5 me-1 link link-dark text-decoration-none"
             href="{{ comment.author.get_absolute_url }}">{{ comment.author.username }}</a>
          <span class="text-body-secondary">{{ comment.created_at|naturaltime }}</span>
          <p class="text-break">{{ comment.text }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div id="no-comments" class="container text-center mb-5">
      <img class="mb-4" src="{% static 'icons/comment.svg' %}" alt="comment" width="125" height="125">
      <h4>Looks like no one has left a comment yet, be the first!</h4>
    </div>
  {% endif %}
</div>
{% if has_more_comments %}
  <div class="text-center list-group">
    <button id="show-more-comments-btn" type="button"
            class="list-group-item list-group-item-action text-primary" data-page="2" data-recipe-id="{{ object.id }}">
      Show more
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down"
           viewBox="0 0 16 16">
        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
      </svg>
    </button>
  </div>
{% endif %}