{% extends 'products/base.html' %}
{% load static %}


{% block content %}
  {{ block.super }}
  <div class="row justify-content-center">
    <div class="text-center">
      <h2 class="text-main">Featured Categories</h2>
      <p class="fs-4">Various categories that other users like and you might like.</p>
    </div>
    <div class="row">
      {% for object in object_list %}
        <div class="col-lg-4 col-md-6 mb-3">
          {% include 'products/inclusion/product_type_card.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center pb-3">
    <button class="btn text-primary d-flex flex-column align-items-center" onclick="scrollToTop()">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"></path>
      </svg>
      <span>Use search</span>
    </button>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}