{% extends 'products/base.html' %}
{% load subtraction %}

{% block content %}
  {{ block.super }}
  <div class="row justify-content-center">
    <div class="text-center mb-3">
      <h2 class="text-main">Products of category: {{ product_type.name }}</h2>
    </div>
    <div class="row">
      {% for object in object_list %}
        <div class="col-lg-4 col-md-6 mb-3">
          {% include 'products/inclusion/product_card.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include 'products/inclusion/pagination.html' %}
{% endblock %}

