{% extends 'products/base.html' %}
{% load static %}


{% block content %}
  {{ block.super }}
  <div class="row justify-content-center">
    <div class="text-center">
      <h2 class="text-main">Your search results</h2>
      <p class="fs-4">Results based on your search term.</p>
    </div>
    <div class="row">
      {% for object in object_list %}
        <div class="col-lg-4 col-md-6 mb-3">
          {% if request.GET.search_type == 'product' %}
            {% include 'products/inclusion/product_card.html' %}
          {% else %}
            {% include 'products/inclusion/product_type_card.html' %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include 'products/inclusion/pagination.html' %}
{% endblock %}
