{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="pt-5">
    <div class="mx-auto rounded-4 py-2 px-3 col-8 shadow-lg">
      {% if validlink %}
        <form action="" method="POST">

          {% csrf_token %}

          <div class="text-center py-2">
            <h2 class="text-main">New password creation</h2>
            <p class="mb-0">Create a new password for your account, it must be different from the old one.</p>
          </div>
          {% if form.errors %}
            <div class="alert alert-warning" role="alert">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <ul class="m-0">
                    <li>
                      {{ error }}
                    </li>
                  </ul>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <hr>
          <div class="mb-4">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password</label>
            {{ form.new_password1 }}
          </div>
          <div class="mb-4">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">New password confirmation</label>
            {{ form.new_password2 }}
          </div>
          <hr>
          <div class="text-center mb-3">
            <button type="submit" class="btn btn-outline-primary">Reset the password</button>
          </div>
        </form>
        </div>
      {% else %}
        <div class="text-center container">
          <h2 class="text-main py-2">Password reset unsuccessful</h2>
          <h4 class="alert alert-warning">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </h4>
          <h3 class="mb-3">
            Click
            <a class="link-main text-decoration-none" href="{% url 'users:reset_password' %}">
              here
            </a>
            to go to the forgot password page.
          </h3>
        </div>
      {% endif %}
  </div>
{% endblock %}