{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="pt-5">
    <div class="mx-auto rounded-4 py-2 px-3 col-8 shadow-lg">
      <form action="" method="POST">

        {% csrf_token %}

        <div class="text-center my-2">
          <h2 class="text-main">Password reset</h2>
          <p>
            Forgotten your password? Enter your email address below, and we’ll email instructions for setting
            a new one.
          </p>
        </div>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <div class="mb-4">
          <label for="{{ form.username.id_for_label }}" class="form-label">Email</label>
          {{ form.email }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="text-center my-2">
          <p>
            <span class="my-0">Decided to return ?</span>
            <a class="link-main" href="{% url 'users:login' %}">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}