{% extends 'users/profile/inclusion/base_tab.html' %}


{% block tab_title %}
  {{ user.username }}'s Account
{% endblock %}

{% block form %}
    <div class="mb-4">
      <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
      {{ form.username }}
    </div>
    <div class="mb-4">
      <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
      {{ form.first_name }}
    </div>
    <div class="mb-4">
      <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
      {{ form.last_name }}
    </div>
    <div class="mb-4">
      <label for="{{ form.email.id_for_label }}" class="form-label ">
        Email
        {% if not user.is_verified %}
          (Unverified, click
          <a class="text-decoration-none" href="{% url 'users:send-verification-email' user.email %}">here</a>
          to send a verification email)
        {% else %}
          <span class="text-primary">&check; Verified</span>
        {% endif %}
      </label>
      {{ form.email }}
    </div>
    <div class="mb-4">
      <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
      <div class="input-group">
        {{ form.image }}
      </div>
    </div>
{% endblock %}

{% block submit_btn_text %}
  Update Profile
{% endblock %}