{% extends 'users/profile/inclusion/base_tab.html' %}


{% block tab_title %}
  {{ user.username }}'s Email
{% endblock %}

{% block form %}
  <form action="" method="POST">

    {% csrf_token %}

    <div class="mb-4">
      <label for="{{ form.new_email.id_for_label }}" class="form-label">New email</label>
      {{ form.new_email }}
    </div>
    <div class="mb-4">
      <label for="{{ form.old_password.id_for_label }}" class="form-label">Password</label>
      {{ form.old_password }}
    </div>
  </form>
{% endblock %}

{% block submit_btn_text %}
  Change Email
{% endblock %}
