{% extends 'users/profile/inclusion/base_tab.html' %}


{% block tab_title %}
  {{ user.username }}'s Password
{% endblock %}

{% block form %}
  <form action="" method="POST">

      {% csrf_token %}

      <div class="mb-4">
        <label for="{{ form.old_password.id_for_label }}" class="form-label">Old password</label>
        {{ form.old_password }}
      </div>
      <div class="mb-4">
        <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password</label>
        {{ form.new_password1 }}
      </div>
      <div class="mb-4">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label">New password confirmation</label>
        {{ form.new_password2 }}
      </div>
    </form>
{% endblock %}

{% block submit_btn_text %}
  Change Password
{% endblock %}
