<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination_url }}{{ page_obj.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% if page_obj.number|add:'-4' > 1 %}
      <li class="page-item">
          <a class="page-link" href="{{ pagination_url }}{{ 1 }}">
            <span aria-hidden="true">&hellip;</span>
          </a>
        </li>
    {% endif %}
    {% for page in paginator.page_range %}
      <li class="page-item">
          {% if page_obj.number == page %}
            <a class="page-link disabled" href="{{ pagination_url }}{{ page }}">
              {{ page }}
            </a>
          {% elif page > page_obj.number|add:'-5' and page < page_obj.number|add:'5' %}
            <a class="page-link" href="{{ pagination_url }}{{ page }}">
              {{ page }}
            </a>
          {% endif %}
        </li>
    {% endfor %}
    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li class="page-item">
          <a class="page-link" href="{{ pagination_url }}{{ page_obj.paginator.num_pages }}">
            <span aria-hidden="true">&hellip;</span>
          </a>
        </li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination_url }}{{ page_obj.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>