{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center py-4">

      <div class="row">
        <div class="text-center">
          <img class="rounded-circle object-fit-cover" src="{{ user.get_image_url }}" width="208" height="208"
               alt="user_image">
          <h1 class="my-3 text-truncate">{{ object.username }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="container">

          <div>
            <h2>Information</h2>
            <hr class="m-0">
            <div class="row mt-5">
              <div class="col-6">
                <h3 class="mb-4 fw-semibold">Username</h3>
                <h4 class="text-main-secondary text-truncate ps-1">{{ object.username }}</h4>
              </div>
              {% if  request.user == object %}
                <div class="col-6">
                  <div class="d-flex mb-4 align-items-start">
                    <h3 class="mb-0 me-1 fw-semibold">Email</h3>
                    <small class="text-main-secondary">Private</small>
                  </div>
                  <h4 class="text-main-secondary text-truncate ps-1">{{ object.email }}</h4>
                </div>
              {% endif %}
              <div class="col-6 mt-5">
                <h3 class="mb-4 fw-semibold">Member since</h3>
                <h4 class="text-main-secondary text-truncate ps-1">{{ object.date_joined|date:"F j, Y" }}</h4>
              </div>
              <div class="col-6 mt-5">
                <h3 class="mb-4 fw-semibold">Last login date</h3>
                <h4 class="text-main-secondary text-truncate ps-1">{{ object.last_login|date:"F j, Y" }}</h4>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <h2>About</h2>
            <hr class="m-0">
            <div class="row mt-5">
              <div class="col-6">
                <h3 class="mb-4 fw-semibold">First name</h3>
                <h4 class="text-main-secondary text-truncate ps-1">
                  {% if object.first_name %} {{ object.first_name }} {% else %} Not specified {% endif %}
                </h4>
              </div>
              <div class="col-6">
                <h3 class="mb-4 fw-semibold">Last name</h3>
                <h4 class="text-main-secondary text-truncate ps-1">
                  {% if object.last_name %} {{ object.last_name }} {% else %} Not specified {% endif %}
                </h4>
              </div>
              <div class="col-12 mt-5">
                <h3 class="mb-4 fw-semibold">About me</h3>
                <h4 class="text-main-secondary text-truncate ps-1">
                  {% if object.last_name %} {{ object.last_name }} {% else %} Not specified {% endif %}
                </h4>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}