{% extends 'base.html' %}

{% block content %}
  <div class="py-4 px-2 mx-auto">
    <div class="text-center mb-3">
      <h1 class="text-main">My comparisons</h1>
    </div>
    <div class="row">
      {% for object in object_list %}
        <div class="col-lg-4 col-md-6 mb-3">
          {% if current_url_name == 'product-type-comparisons' %}
            {% include 'products/inclusions/product_type_card.html' %}
          {% elif current_url_name == 'product-comparisons' %}
            {% include 'products/inclusions/product_card.html' %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% include 'products/inclusions/pagination.html' %}
  </div>
{% endblock %}