<div class="mb-4">
  <h2>{% block tab_title %} {% endblock %}</h2>
</div>
<hr>
{% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        <ul class="m-0">
          <li>
            {{ error }}
          </li>
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
{% elif messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
{% endif %}
<div class="row">
  <div class="mb-4">
    <form action="" method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      {% block form %} {% endblock %}
      <div class="row justify-content-center">
        <button class="btn btn-outline-primary col-3" type="submit">{% block submit_btn_text %} {% endblock %}</button>
      </div>
    </form>
  </div>
</div>