{% extends 'base.html' %}


{% block content %}
  <div class="pt-5">
    <div class="container rounded-4 col-lg-4 col-md-7 col-sm-8 shadow-lg">
      <form class="py-2 px-1" action="" method="post">

        {% csrf_token %}

        <div class="mb-4">
          <h2 class="text-center mt-2">Log In</h2>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-warning {% endif %}"
                 role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <hr>
        <div class="mb-4">
          <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
          {{ form.username }}
        </div>
        <div class="mb-4">
          <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
          {{ form.password }}
        </div>
        <div class="d-flex">
          <div class="form-check me-auto">
            {{ form.remember_me }}
            <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">Remember me</label>
          </div>
          <div>
            <a href="{% url 'users:reset_password' %}" class="link-secondary text-decoration-none">Forgot password ?</a>
          </div>
        </div>
        <hr>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="text-center mt-2">
          <p>
            <span class="my-0">Not registered ?</span>
            <a class="link-primary text-decoration-none" href="{% url 'users:registration' %}">Create an account</a>
          </p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
