{% extends 'base.html' %}


{% block content %}
  <div class="container rounded-4 col-lg-5 col-md-8 shadow-lg">
    <form class="py-2 px-1" action="" method="post">

      {% csrf_token %}

      <div class="mb-4">
        <h2 class="text-center mt-2">Sign Up</h2>
      </div>
      {% if form.errors %}
        <div class="alert alert-warning" role="alert">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <ul class="m-0">
                <li>
                  {{ error }}
                </li>
              </ul>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
      <hr>
      <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
        {{ form.username }}
      </div>
      <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
        {{ form.email }}
      </div>
      <div class="mb-4">
        <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
        {{ form.password1 }}
      </div>
      <div class="mb-4">
        <label for="{{ form.password2.id_for_label }}" class="form-label">Password conformation</label>
        {{ form.password2 }}
      </div>
      <hr>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
      <div class="text-center mt-2">
        <p>
          <span class="my-0">Already registered ?</span>
          <a class="link-primary text-decoration-none" href="{% url 'users:login' %}">Login to your account</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}
