{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'images/icon.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-md sticky-top shadow-sm bg-white p-3">
  <div class="container-fluid px-4">
    <span class="navbar-brand logo text-main d-flex align-items-center mb-1">
      <img class="img-fluid" src="{% static 'images/icon.png' %}" alt="icon" height="45" width="45">
      <span class="fs-4">StoreTracker</span>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-underline me-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-action link-dark {% if current_url_name == 'product-types' %} active {% endif %}"
             aria-current="page" href="{% url 'products:product-types' %}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-action link-dark" href="#">My comparisons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-action link-dark" target="_blank" href="https://github.com/FCTL3314/StoreTracker">
            GitHub
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-action link-dark" href="#footer">About</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <div class="dropdown">
          <a class="dropdown-toggle link-dark text-decoration-none" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <span>{{ request.user.username }}</span>
            <img class="rounded-circle object-fit-cover mb-1 ms-1" src="{{ request.user.get_image_url }}"
                 alt="user-image" width="36" height="36">
          </a>
          <ul class="dropdown-menu dropdown-menu-md-end dropdown-menu-sm-start">
            <li>
              <p class="text-center m-0">Menubar</p>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a href="{% url 'users:profile' request.user.slug %}" class="dropdown-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house-fill mb-1" viewBox="0 0 16 16">
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0
                  .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"></path>
                  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"></path>
                </svg>
                Profile
              </a>
            </li>
            <li>
              <a href="/interactions/bookmarks/" class="dropdown-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                  <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"></path>
                </svg>
                Comparisons
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a href="{% url 'admin:index' %}" class="dropdown-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-gear-fill mb-1" viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464
                    0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987
                    1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0
                    1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1
                    2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698
                    2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397
                    0-2.81l-.34-.1a1.464 1.464 0 0
                    1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0
                    1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"></path>
                </svg>
                Administration
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a href="{% url 'users:logout' %}" class="dropdown-item text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-door-open-fill mb-1" viewBox="0 0 16 16">
                  <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0
                0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5
                8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"></path>
                </svg>
                Logout
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <ul class="nav nav-underline align-items-center">
          <li class="nav-item">
            <a href="{% url 'users:login' %}" class="nav-link nav-link-action">Log In</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'users:registration' %}" class="btn btn-primary btn-sign-up">Sign Up</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container-fluid position-relative">
  <div class="container min-vh-100 bg-light">
    {% block content %} {% endblock %}
  </div>
</div>

<footer id="footer" class="bg-white shadow-lg">
  <div class="container text-center py-4">
    <h3 class="text-main">About</h3>
    <p>
      This site was created for educational purposes and was not designed for real use.
    </p>
    <hr class="divider border-2">
    <small>
      Copyright &copy; 2023
      <a href="https://github.com/FCTL3314/ShopTracker" class="project-ref text-main-light" target="_blank">
        ShopTracker
      </a>
    </small>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
{% block script %} {% endblock %}
</body>
</html>